/* Scalar API docs theme overrides */
.dark-mode {
    --scalar-background-1: #09090b;
    --scalar-background-2: #111113;
    --scalar-background-3: #18181b;
    --scalar-border-color: #27272a;
    --scalar-color-1: #fafafa;
    --scalar-color-2: #a1a1aa;
    --scalar-color-3: #71717a;
    --scalar-color-accent: #7c3aed;
    --scalar-button-1: rgb(124, 58, 237);
    --scalar-button-1-hover: rgba(124, 58, 237, 0.9);
    --scalar-button-1-color: #fafafa;
    --scalar-sidebar-background-1: var(--scalar-background-1);
    --scalar-sidebar-color-1: var(--scalar-color-1);
    --scalar-sidebar-color-2: var(--scalar-color-2);
    --scalar-sidebar-border-color: var(--scalar-border-color);
    --scalar-sidebar-item-hover-background: var(--scalar-background-2);
    --scalar-sidebar-item-hover-color: currentColor;
    --scalar-sidebar-item-active-background: var(--scalar-background-2);
    --scalar-sidebar-color-active: var(--scalar-color-1);
    --scalar-sidebar-search-background: transparent;
    --scalar-sidebar-search-border-color: var(--scalar-border-color);
}

.scalar-api-client__item__options { display: none; }
.darklight-reference-promo { display: none !important; }
.darklight-reference > button.darklight { padding-bottom: 18px; }
