{% extends "percy/percy_layout.html" %}

{% block title %}{{ title }} | Percy{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/percy/dashboard.css" type="text/css"/>
<link rel="stylesheet" href="/static/css/percy/md.css" type="text/css"/>
{% endblock %}

{% block body %}
<article class="md-doc">
    <header class="md-doc-head">
        <span class="eyebrow">Percy</span>
        <h1>{{ title }}</h1>
    </header>
    <div class="md-body">
        {{ content|safe }}
    </div>
</article>
{% endblock %}
