{% extends "../layout.html" %}

{% block nav_section %}{% include "percy/_brand_badge.html" %}{% endblock %}

{% block title %}Connect Discord | Klappstuhl.me{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/auth.css" type="text/css"/>
{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-card">
        <div class="login-brand">
            <span class="login-brand-mark">K</span>
        </div>
        <h1 class="login-title">Connect Discord</h1>
        <p class="login-subtitle">Link your Discord account to access the bot dashboard and manage your servers.</p>

        <a href="/auth/discord" class="button primary login-submit">Connect Discord</a>
    </div>
</div>
{% endblock %}
