{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/help.css" type="text/css">
<meta property="og:url" content='{{ "/help"|canonical_url }}'>
<meta property="og:title" content="Klappstuhl.me: Help">
{% endblock %}

{% block title %}
Help | Klappstuhl.me
{% endblock %}

{% block sidebar %}
<section class="sidebar grid-item">
  <h3>Table of Contents</h3>
  <ul>
    <li>
      <a href="#using-the-site">Using the Site</a>
      <ul>
        <li><a href="#account-management">Account Management</a></li>
      </ul>
    </li>
    <li>
      <a href="#upload-guidelines">Upload Guidelines</a>
      <ul>
        <li><a href="#file-types">Supported File Types</a></li>
        <li><a href="#deleting-files">Deleting Files</a></li>
      </ul>
    </li>
  </ul>
</section>
{% endblock %}

{% block body %}
<div id="content">
  <h1 id="using-the-site">Using the Site</h1>
  <p>
    This section explains how to use the site. If you need further help, please <a href="/contact">contact us</a>.
  </p>
  <h2 id="account-management">Account Management</h2>
  <p>
    You can change your password by clicking on your username in the navigation bar while logged in.
    Once your password is changed, you will be logged out of all active sessions.
  </p>
  <p>
    There is currently no way to delete an account. <a href="/contact">Contact the administrators</a> if needed.
  </p>
  <h1 id="upload-guidelines">Upload Guidelines</h1>
  <p>
    In order to maintain a clean and navigable site, all uploaded content must meet the following criteria.
  </p>
  <h2 id="what-to-upload">What to upload?</h2>
  <p>
    Users are prohibited from uploading pornographic, explicit, offensive, or illegal content. All images must comply
    with copyright laws. Violations will result in removal of the content and revocation of upload access.
  </p>
  <h2 id="file-types">Supported File Types</h2>
  <p>
    The following file types are supported:
  </p>
  <ul>
    <li><code>.apng</code></li>
    <li><code>.png</code></li>
    <li><code>.jpg</code></li>
    <li><code>.jpeg</code></li>
    <li><code>.gif</code></li>
    <li><code>.avif</code></li>
  </ul>
  <p>
    Uploads of any other file type will be rejected.
  </p>
  <h2 id="deleting-files">Deleting Files</h2>
  <p>
    You can only delete images you have uploaded yourself. To see how this works via the API, visit the
    <a href="/api/docs">API Documentation</a>.
  </p>
</div>
{% endblock %}
