{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/image_list.css" type="text/css">
<meta property="og:url" content="{{ crate::CONFIG.get().unwrap().canonical_url() }}/images">
{% endblock %}

{% block title %}Your Images | Klappstuhl.me{% endblock %}

{% block body %}
<h1>Your Images</h1>

{%- for flash in flashes -%}
{{ flash.html()|safe }}
{%- endfor -%}

<div class="toolbar">
    <div class="text-input-container">
        <input autocomplete="off" type="search" id="search-files" placeholder="Search by ID..." spellcheck="false">
        <button class="clear" tabindex="-1" id="clear-search-filter">✖&#xfe0e;</button>
    </div>
    <div class="toolbar-actions">
        <form id="upload-form" method="POST" action="/images/bulk" enctype="multipart/form-data">
            <label for="upload-file-input" class="button primary">Upload</label>
            <input name="file" type="file" id="upload-file-input" accept=".apng,.png,.jpg,.jpeg,.gif,.avif" hidden multiple>
        </form>
    </div>
</div>

<div class="files">
    <div class="table-headers">
        <span class="table-header"><input class="bulk-check" autocomplete="off" type="checkbox"></span>
        <span class="table-header sorting-ascending" data-sort-by="name">Name</span>
        <span class="table-header" data-sort-by="size">Size</span>
        <span class="table-header" data-sort-by="uploaded-at">Date</span>
    </div>
    {% for file in files -%}
    <div class="entry" data-extra="{{ file|json }}">
        <label class="file-bulk">
            <input type="checkbox" autocomplete="off">
        </label>
        <a href="{{ file.url }}" class="card-thumb-link">
            <img class="card-thumb" src="/gallery/raw/{{ file.id }}" loading="lazy" alt="{{ file.id|e }}">
        </a>
        <div class="card-meta">
            <a href="{{ file.url }}" class="file-name card-name">{{ file.id|e }}</a>
            <div class="card-info">
                <span class="file-size">{{ file.size|filesizeformat }}</span>
                <span class="file-uploaded">{{ file.uploaded_at|isoformat }}</span>
            </div>
        </div>
    </div>
    {% endfor -%}
</div>

<div class="bottom-bar">
    <div class="file-count-group">
        <span id="total-file-count">{{ files.len() }} file{% if files.len() != 1 %}s{% endif %}</span>
        <span class="hidden" id="selected-file-count"></span>
    </div>
    <button id="download-files" class="button primary outline hidden">Download</button>
    <button id="delete-files" class="button danger">Delete</button>
</div>

<div id="file-upload-drop-zone">
    <h1>Drop images to upload</h1>
    <p>Supported: .apng .png .jpg .jpeg .gif .avif</p>
</div>

<dialog id="confirm-delete-modal">
    <form>
        <h1>Delete files</h1>
        <p>This will permanently delete <span id="delete-count"></span>. This action can't be undone.</p>
        <footer>
            <button id="confirm-delete" class="button danger">Delete</button>
            <button class="button" formmethod="dialog">Cancel</button>
        </footer>
    </form>
</dialog>
{% endblock %}

{% block body_end %}
<script src="/static/fuzzysort.min.js"></script>
<script src="/static/files.js"></script>
<script src="/static/images.js"></script>
{% endblock %}
