{% extends "layout.html" %}

{% block css %}
<link href="/static/services.css" rel="stylesheet">

<meta property="og:title" content="Services | Klappstuhl.me">
{% endblock %}

{% block title %}
Services | Klappstuhl_me
{% endblock %}

{% block body %}
<h1>All Services</h1>

<div class="services-grid">
    {% for service in services %}
    <div class="service-card">
        <h2>{{ service.name }}</h2>
        <p>Status:
            {% if service.running %}
            <span class="running">🟢 Running</span>
            {% else %}
            <span class="offline">🔴 Offline</span>
            {% endif %}
        </p>
        <p>
            Uptime:
            {% if service.running && service.started_at.is_some() %}
            <span class="uptime"
                  data-started-at="{{ service.started_at.unwrap().timestamp() }}">
        </span>
            {% else %}
            N/A
            {% endif %}
        </p>

        <form method="post" action="/services/action">
            <input type="hidden" name="name" value="{{ service.name }}">
            <button type="submit" name="action" value="start" class="start-btn">▶ Start</button>
            <button type="submit" name="action" value="stop" class="stop-btn">⏹ Stop</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block body_end %}
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
<script src="/static/services.js"></script>
{% endblock %}